{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * icons plugin for Craft CMS 3.x
 *
 * IconsField Field Input
 *
 * @author    Flow
 * @copyright Copyright (c) 2019 Flow
 * @link      www.flowsa.com
 * @package   Icons
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
        label: 'Some Field',
        instructions: 'Enter some text here.',
        id: name,
        name: name,
        value: value})
}}
