{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * icons plugin for Craft CMS
 *
 * IconsField Field Settings
 *
 * @author    Flow
 * @copyright Copyright (c) 2019 Flow
 * @link      www.flowsa.com
 * @package   Icons
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("flowsaicons\\icons\\assetbundles\\icons\\IconsAsset") %}

{{ forms.textField({
    label: 'Some Attribute',
    instructions: 'Enter some attribute here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: field['someAttribute']})
}}
