{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * icons plugin for Craft CMS
 *
 * IconsWidget Widget Body
 *
 * @author    Flow
 * @copyright Copyright (c) 2019 Flow
 * @link      www.flowsa.com
 * @package   Icons
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@flowsaicons/icons/assetbundles/iconswidgetwidget/dist', true) ~ '/img/IconsWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
