{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * icons plugin for Craft CMS
 *
 * IconsUtility Utility Content
 *
 * @author    Flow
 * @copyright Copyright (c) 2019 Flow
 * @link      www.flowsa.com
 * @package   Icons
 * @since     1.0.0
 */
#}

<h1>IconsUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@flowsaicons/icons/assetbundles/iconsutilityutility/dist', true) ~ '/img/IconsUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>